use flake

watch_file .env
source .env 

# Fetch dependenies
HTMX_VERSION=1.9.11
HYPERSCRIPT_VERSION=0.9.13

if [ ! -f ./static/js/hyperscript.js ]; then
  curl -sL --verbose "https://unpkg.com/hyperscript.org@$HYPERSCRIPT_VERSION" > ./static/js/hyperscript.js
fi

if [ ! -f ./static/js/htmx.js ]; then
  curl -sL --verbose "https://unpkg.com/htmx.org@$HTMX_VERSION" > ./static/js/htmx.js
fi

if [ ! -f ./static/js/htmx-response-targets.js ]; then
  curl -sL --verbose "https://unpkg.com/htmx.org/dist/ext/response-targets.js" > ./static/js/htmx-response-targets.js
fi

